# Node modules directory
/node_modules

# Wrangler cache directory
/.wrangler

package*

# Environment variables file
.env

# Dev icon
public/assets/favicon.png

# PNPM files
pnpm-lock.yaml
pnpm-workspace.yaml